* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  color: rgba(255, 245, 238, 0.6);
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

header {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 69px;
  width: 100%;
  background-color: black;
  align-items: center;
  border-bottom: 1px solid rgba(255, 245, 238, 0.6);
  font-size: 22px;
  z-index: 2;
}

.logo img {
  margin-left: 10px;
  height: 50px;
  color: rgb(255, 245, 238);
  opacity: 0.6;
}

.navbar {
  display: flex;
}

.navbar li {
  list-style: none;
  margin: 10px;
}

.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 69px;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
  width: 1200px;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*154fwzg*_ga*NzU3Mjc0NzAzOS4xNjg0MzMzNTY5*_ga_3LRZM6TM9L*MTY4NTQ2MzczMS4zMS4wLjE2ODU0NjM3MzEuMC4wLjA.");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.mission h2 {
  margin: 0;
  padding: 10px;
  width: 100%;
  background-color: black;
  color: rgb(255, 245, 238);
}

.mission h4 {
  margin: 0;
  padding: 10px;
  width: 100%;
  background-color: black;
  color: rgb(255, 245, 238);
}

.featured_tea {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured_tea h2 {
  margin: 0;
  padding: 50px 10px 10px;
  width: 1000px;
}

.featured_tea h4 {
  margin: 0;
  padding: 10px;
  width: 1000px;
}

.featured_tea_showroom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.featured_tea_showroom div {
  margin-top: 10px;
  margin-right: 20px;
}

.featured_tea_showroom img {
  height: 200px;
  width: 300px;
  opacity: 0.6;
}
.featured_tea_showroom h4 {
  margin-top: 10px;
}

.locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 69px;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 1200px;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*15v0ra2*_ga*NzU3Mjc0NzAzOS4xNjg0MzMzNTY5*_ga_3LRZM6TM9L*MTY4NTQ2MzczMS4zMS4wLjE2ODU0NjM3MzEuMC4wLjA.");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.locations h2 {
  margin-bottom: 0;
}

.locations_squares {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.locations_squares div{
    margin:15px 20px 20px 20px;
    width:300px;
    background-color: black;
}
.locations_squares h4{
    padding-top: 20px;
}

.contacto{
    height: 200px;
    background-color: black;
}

.footer h5{
    margin-left: 20px;
    text-align: left;
}